ml_project/data/raw/*.csv
ml_project/data/processed/*.csv
build/
outputs/
ml_project/src/features/check_smth.py
ml_project/src/outputs/
ml_project/build/
ml_project/ml_base_1.egg-info/
ml_project/src.egg-info/
eggs/
.eggs/
*.egg-info/
*.egg
.idea
/.idea
ml_project/mlruns
:memory
ml_project/src/__pycache__
ml_project/src/data/__pycache__
ml_project/src/entities/__pycache__
ml_project/src/features/__pycache__
ml_project/src/models/__pycache__
ml_project/tests/__pycache__
ml_project/notebooks/.ipynb_checkpoints

