ml_project/data/raw/*.csv
ml_project/data/processed/*.csv
build/
outputs/
ml_project/src/features/check_smth.py
ml_project/src/outputs/
ml_project/build/
ml_project/ml_base_1.egg-info/
ml_project/src.egg-info/
eggs/
.eggs/
*.egg-info/
*.egg
.idea
/.idea
ml_project/mlruns
:memory
ml_project/src/__pycache__
ml_project/src/data/__pycache__
ml_project/src/entities/__pycache__
ml_project/src/features/__pycache__
ml_project/src/models/__pycache__
ml_project/tests/__pycache__
ml_project/notebooks/.ipynb_checkpoints
online_inference/.pytest_cache
online_inference/build
online_inference/data/*.csv
online_inference/data/model/*.pkl
online_inference/data/transformer/*.pkl
online_inference/data/transformer/*.csv
online_inference/data/transformer/*.py
online_inference/microservice.egg-info
online_inference/tests/.pytest_cache
online_inference/data/transformer/heart_cleveland_upload.csv
online_inference/data/transformer/get_transformer.py
online_inference/tests/__pycache__
online_inference/microservice/__pycache__


airflow/dags/__pycache__/

airflow/data/raw/*
!airflow/data/raw/.gitkeep

airflow/data/predictions/*
!airflow/data/predictions/.gitkeep

airflow/data/splitted/processed/train/*
!airflow/data/splitted/processed/train/.gitkeep

airflow/data/splitted/raw/train/*
!airflow/data/splitted/raw/train/.gitkeep

airflow/data/splitted/raw/val/*
!airflow/data/splitted/raw/val/.gitkeep
airflow/data/validation_artefacts/2022-11-2[7-9]/*.pkl

airflow/images/airflow-preprocess/__pycache__/
airflow/images/airflow-validation/__pycache__/
airflow/images/airflow-predict/__pycache__/

airflow/mlflow_runs/*
airflow/images/mlflow/mlflow_runs

airflow/tests/__pycache__/
